theme = "tokyonight"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true

[keys.insert]
j = { j = "normal_mode" }
C-a = "goto_line_start"
C-e = "goto_line_end_newline"
Cmd-c = "yank_to_clipboard"
